<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="HotAssembly" connectionString="Data Source=db-01;Initial Catalog=DynamicCode.DllPersistenseStore;Integrated Security=True;" />
  <add name="calc" connectionString="Data Source=db-01;Initial Catalog=RulesRepository;Integrated Security=True;" />
  <add name="dataRules" connectionString="Data Source=db-01;Initial Catalog=RulesRepository;Integrated Security=True;Asynchronous Processing=True" />
  </connectionStrings>
</configuration>